
<!-- Begin: page-footer -->
<footer>
	<div class="wrapper">
		<nav>
			<p>Agroguía 2012.</p>
			<ul>
				<li><a href="about.html">Sobre nosotros</a></li>
				<li><a href="#">Características</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="buy.html">Contacto</a></li>
			</ul>
		</nav>
		<div class="social-buttons">
			<ul>
				<li><a href="#" class="button facebook">visítanos en facebook</a></li>
				<li><a href="#" class="button twitter">síguenos en twitter</a></li>
			</ul>
		</div>
	</div>
</footer>
<!-- End: page-footer  -->
