{% load flatpages %}

<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]> <!--> <html class="no-js"> <!--<![endif]-->
<head>
  <title>{% block title %}Agroguía - Guiado GPS agrícola {% endblock %}</title>

  <meta name="copyright" content="" />
  <meta name="keywords" content="gps agricola, guiado gps, agroguia, gps agricultura, gps tractores, autoguiado, gps agricultura, agroguia, guiado agricola GPS, guiado agricultura" />
  <meta name="description" content="sistema de guiado agrícola con GPS, tu GPS para el tractor" />
  <meta name="robots" content="index,follow" />
  <meta name="verify-v1" content="eMvIIFLh/PguWB2A0XgKp1JvSAYegcJukqvZE7x+N5w=" />
  <meta name="google-site-verification" content="huQSsN9qmK2isfmF0sOU3TWuyegPbHrve1K3Cqhsp1g" />

<!-- Meta -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta charset="utf-8">

<!-- Stylesheets -->
<link href="/assets/stylesheets/style.css" type="text/css" rel="stylesheet" />

<!-- Scripts -->
<script src="assets/javascripts/libs/modernizr-2.6.1.min.js"></script>

</head>
<body class="">

{% include "_header.html" %}
{% block content %}
{% endblock %}

{% include "_footer.html" %}


</body>
</html>
