<div class="blog">
  <p>
    Lo ultimo en el blog 
  </p>
  <div class="item">

    <h3>
      Tienes cosechadora Trabajas para terceros Esto te interesa
    </h3>
    <p>
      Muchos agricultores nos plantean el problema que tienen a la hora de llevar un control exhaustivo de las labores y tratamientos que van realizando en sus parcelas, lo que llamamos trazabilidad. La mayoria de ellos, ni siquiera lo hace, debido a que no tienen tiempo, a que las herramientas existentes para ello son complicadas de usar, etc. 
    </p>
    <p class="post_metadata">
      Laura 04/06/2013 <a href="http://blog.agroguia.es/blog/wordpress/2013/05/22/tienes-cosechadora-trabajas-para-terceros-esto-te-interesa/">Leer mas</a> 
    </p>	
  </div>
  
  <div class="item">

    <h3>
      Agroguia en tu cosechadora o empacadora
    </h3>
    <p>Llega el verano y es epoca de cosechar y empacar. Agroguia, aunque es una herramienta creada para el guiado GPS, puede usarse en cosechadoras o empacadoras, sobretodo para personas que se dedican a trabajar para terceros por varias razones:
      1) Es imprescindible saber la superficie que vas a cosechar o empacar
      2) Es muy util una herramienta que te ahorrase el trabajo de guardar los datos de cada trabajo para luego facturar
      3) Con el contador de hectareas puedes saber que area haces por hora y puedes conocer mas o menos la hora a la que vas a terminar una parcela, si vas a necesitar vaciar la tolva de la cosechadora y organizarte las siguientes parcelas que vas a hacer.
    </p>
    <p class="post_metadata">
      Laura 04/06/2013 <a href="http://blog.agroguia.es/blog/wordpress/2013/06/04/agroguia-en-tu-cosechadora-o-empacadora/">Leer mas</a>
    </p>
	
  </div>
</div>  