{% load flatpages %}
{% load i18n %}

<section class="main-section flatpage">
  <div class="wrapper">
    <div class="content-with-aside">
      <div class="content-wrapper">
        <h2>{{ flatpage.title }}</h2>
        {{ flatpage.content }}

      </div>
      <aside>
        <nav>
          <h4> {% trans "Guiado GPS" %}</h4>
          <ul>
            {% get_flatpages as flatpages %}
            {% get_flatpages '/es/pc/' as pc_pages%}
            {% for page in flatpages %}
              {% if page not in pc_pages %}
                <li><a {% if flatpage.url == page.url %} class="selected" {% endif %} href="{{ page.url }}">{{ page.title }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
          <h4>Trabajos on-line</h4>
          <ul>
            {% for page in pc_pages%}
            <li><a {% if flatpage.url == page.url %} class="selected" {% endif %} href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
          </ul>
        </nav>
      </aside>
    </div>
  </div>
</section>
