{% load flatpages %}

<section class="main-section flatpage">
  <div class="wrapper">
    <div class="content-with-aside">
      <div class="content-wrapper">
        <h2>{{ flatpage.title }}</h2>
        {{ flatpage.content }}

      </div>
      <aside>
        <nav>
          <h4>Guiado GPS</h4>
          <ul>
            {% get_flatpages as flatpages %}
            {% for page in flatpages %}
            {{request.get_full_path}}
            <li><a {% if flatpage.url == page.url %} class="selected" {% endif %} href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
          </ul>
          <h4>Trabajos on-line</h4>
          <ul>
            <li><a href="/es/pc/recibe-informes">Recibe tus trabajos por email</a></li>
            <li><a href="/es/pc/historico">Obtén sencillos informes</a></li>            
          </ul>
        </nav>
      </aside>
    </div>
  </div>
</section>
