
<footer>
  <div class="wrapper">
    <nav>
      <p>Agroguía 2012.</p>
      <ul>
        <li><a href="/nosotros">Sobre nosotros</a></li>
        <li><a href="#">Características</a></li>
        <li><a href="http://blog.agroguia.es">Blog</a></li>
        <li><a href="{% url home-buy %}">Contacto</a></li>
      </ul>
    </nav>
    <div class="social-buttons">
      <ul>
        <li><a href="https://www.facebook.com/groups/169862013243/" class="button facebook">visítanos en facebook</a></li>
        <li><a href="http://twitter.com/agroguia" class="button twitter">síguenos en twitter</a></li>
      </ul>
    </div>
  </div>
</footer>
