
<header>
  <div class="wrapper">
    <h1 class="logo"><a href="/">Agroguía</a></h1>
    <nav>
      <ul>
        <li class="nav-item gps-guided {% if section == 'home' %}active {%endif %}"><a href="/"><span>Guiado GPS</span></a></li>
        <li class="nav-item online-works {% if section == 'online' %}active {%endif %}"><a href="{% url home-pc %}"><span>Trabajos on-line</span></a></li>
        <li class="buy-item"><a href="{% url home-buy %}" class="button">Comprar</a> <span class="phone">661 022 876</span>
        </li>
      </ul>
    </nav>
  </div>
</header>
