{% load i18n %}

<div class="testimonials">
  <div class="item">

    <img src="assets/images/content/testimonials/2.jpg">
    <cite> {% trans "“Lo he amortizado en una temporada”" %}</cite>
    <p>&mdash;  {% trans "Juanjo, Fuentesauco (Zamora)" %} &mdash;</p>

  </div>
  <div class="item">

    <img src="assets/images/content/testimonials/1.jpg">
    <cite> {% trans "“Ya no puedo trabajar sin él”" %}</cite>
    <p>&mdash;  {% trans "Marcos, Vega de los Árboles (León)" %} &mdash;</p>

  </div>
  <div class="item">

    <img src="assets/images/content/testimonials/3.jpg">
    <cite> {% trans "“Sencillo y práctico, para qué mas”" %}</cite>
    <p>&mdash;  {% trans "Moncho, Peñaflor (Valladolid)" %} &mdash;</p>

  </div>
</div>
