
<div class="testimonials">
  <div class="item">

    <img src="assets/images/content/testimonials/2.jpg">
    <cite>“Lo he amortizado en una temporada"</cite>
    <p>&mdash; Juanjo, Fuentesauco (Zamora) &mdash;</p>

  </div>
  <div class="item">

    <img src="assets/images/content/testimonials/1.jpg">
    <cite>“Ya no puedo trabajar sin él”</cite>
    <p>&mdash; Marcos, Vega de los Árboles (León) &mdash;</p>

  </div>
  <div class="item">

    <img src="assets/images/content/testimonials/3.jpg">
    <cite>“Sencillo y práctico, para qué mas”</cite>
    <p>&mdash; Moncho, Peñaflor (Valladolid) &mdash;</p>

  </div>
</div>
