{% extends "_base.html" %}
{% load flatpages %}


{% block content %}

<div class="about-intro">
  <div class="wrapper">
    <div class="intro">
      <h2>Tecnología aplicada a la agricultura</h2>

      <p>El conocimiento del campo agrícola heredado de nuestros padres y abuelos, y nuestra pasión por la tecnología, convergen para dar forma a nuestros productos. Todos y cada uno de ellos realizados con extremado cariño y amor por el detalle.</p>

      <p>Nuestra filosofía es sencilla: Hacer las cosas bien para ofrecer productos de alta calidad a precios  altamente competitivos.</p>
    </div>
  </div>
</div>


<section class="main-section">
  <div class="wrapper">
    <h2>Quién está detrás</h2>
    <div class="team">
      <div class="item">
        <img src="assets/images/content/team/javisanta.jpg">
        <h3>Javier Santana</h3>
        <p>Javier es Ingeniero en Telecomunicaciones y fundador de Agroguía. Si alguien sabe sobre las necesidades de los agricultores, es él.</p>
      </div>
      <div class="item">
        <img src="assets/images/content/team/laurapozo.jpg">
        <h3>Laura del Pozo</h3>
        <p>Ingeniera en Telecomunicaciones y encargada de las relaciones con el cliente. Laura es, sin duda, la cara mas amable de Agroguía.</p>
      </div>
      <div class="item">
        <img src="assets/images/content/team/jatorre.jpg">
        <h3>Javier de la Torre</h3>
        <p>Ingeniero Agrónomo y Licenciado en CC. Medioambientales. Javier lidera el desarrollo de negocio y las relaciones internacionales.</p>
      </div>
    </div>

    <div class="team">
      <div class="item">
        <img src="assets/images/content/team/saleiva.jpg">
        <h3>Sergio Álvarez Leiva</h3>
        <p>Ingeniero informático y Diseñador de producto. Sergio pasa las horas pensando cómo hacer Agroguía mas usable, potente y bonito.</p>
      </div>
      <div class="item">
        <img src="assets/images/content/team/luna.jpg">
        <h3>La “pequeña” Luna</h3>
        <p>Compañera de viaje desde el primer día. Lucha por no pasar demasiado calor mientras vigila que todo sigue en su sitio.</p>
      </div>
    </div>

    <div class="presskit">
      <h2>Materiales y prensa</h2>

      <div class="item">
        <p>Si lo necesitas, descarga nuestro logotipo y nuestro <a href="#">dossier de prensa.</a></p>
        <p>Si tienes alguna duda o necesidad más, escríbenos a <a href="mailto:info@agroguia.es">info@agroguia.es.</a></p>
      </div>

      <div class="item center">
        <div class="logo-light">
          <img src="assets/images/content/press/logo-white.png" />
        </div>
      </div>

      <div class="item center">
        <div class="logo-dark">
          <img src="assets/images/content/press/logo-black.png" />
        </div>
      </div>

    </div>
  </div>
</section>


{% include "_call_us.html" %}

{% endblock %}

