{% extends "_base.html" %}
{% load flatpages %}
{% load i18n %}


{% block content %}

<section class="main-section">
  <div class="wrapper">

    <div class="buy-form">

      <div style="text-align:center">
       <h2> {% trans "Recibe información de Agroguía " %}</h2> <!--por 1.250€ <em>(+IVA)</em></h2>-->
      </div>

      <form method="POST" action="{{request.get_full_path}}"
        onsubmit="_gaq.push(['_trackEvent', 'buy', 'form-submit', '']);"
        >{% csrf_token %}

        <div class="left-block">
          <h3> {% trans "Llámanos o escríbenos un e-mail" %}</h3>
          <p> {% trans "Y te informaremos de todo lo necesario para realizar tu compra." %}</p>

          <p class="phone"> {% trans "634 562 346" %}</p>
          <p class="email"><a href="mailto:info@agroguia.es"> {% trans "info@agroguia.es" %}</a></p>
          <p class="schedule"> {% trans "Disponibles en horario comercial" %}</p>

        </div>

        <div class="right-block">
          {% if ok %}
            {% with form.cleaned_data as data %}
            <h3> {% trans "Gracias" %} {{data.name}}</h3>
            <p> {% trans "Laura te llamará en breve, normalmente te llamamos en el mismo día." %}</p>
            <p> {% trans "Por favor comprueba que " %} 
              {% if data.phone %}
              {% blocktrans with phone=data.phone %} tu teléfono es <strong>{{phone}}</strong> {% endblocktrans %}
              {% else  %}
              {% blocktrans with email=data.email %} tu email es  <strong>{{email}}</strong> {% endblocktrans %}
              {% endif %}
              {% blocktrans with url=request.get_full_path %}.Si no lo es <a href="{{url}}"> vuelve a enviárnoslo {% endblocktrans %}</a>
            {% endwith %}
          {% else %}
            <h3> {% trans "Deja que nosotros te llamemos" %}</h3>
            {% if form.errors %}
            <p> {% trans "Debes indicar tu teléfono o tu email." %}</p>

            {% else %}
            <p> {% trans "Introduce tus datos a continuación y nosotros te llamaremos para informarte." %}</p>
            {% endif %}

            {% for f in form %}
            <div class="field">
              <label for="yourname">{{f.label}}</label>
              {{f}}
            </div>
            {% endfor %}
            <div class="field">
              <!--<button class="button">Enviar</button>-->
              <input type="submit" value="Enviar" class="submit">
            </div>
          {% endif %}

        </div>

      </form>

    </div>

    <div class="faq">

      <h2> {% trans "Algunas preguntas frecuentes" %}</h2>

      <div class="item">
        <h3> {% trans "¿Cómo puedo pagar?" %}</h3>
		<p> {% trans "Aceptamos pagos en efectivo, por transferencia bancaria o contrareembolso." %}</p>
      </div>

      <div class="item">
        <h3> {% trans "¿Qué incluye el kit?" %}</h3>
		<p> {% trans "Recibirás todo lo necesario para empezar a trabajar." %}</p>
        </div>

      <div class="item">
        <h3> {% trans "¿Cuánto tarda en llegar?" %}</h3>
        <p> {% trans "Depende del modo de pago, normalmente <strong>24-48h</strong>, aunque también hacemos envío urgente si lo necesitas." %}</p>
      </div>

      <div class="item">
        <h3> {% trans "¿Hay piezas auxiliares?" %}</h3>
        <p> {% trans "Sí, puedes comprar sólo un GPS, un soporte, un cable de alimentación, etc." %}</p>
      </div>

      <div class="item">
        <h3> {% trans "¿Incluye garantía?" %}</h3>
        <p> {% trans "Todos los componentes tienen 1 año de garantía, nosotros nos ocupamos de todo si algo va mal." %}</p>
      </div>

      <div class="item">
        <h3> {% trans "¿Y si necesito ayuda?" %}</h3>
        <p> {% trans "Además, nuestro servicio de soporte solucionará tus problemas, dudas y consultas sobre el sistema, en menos de 24 horas." %}</p>
      </div>
    </div>

  </div>
</section>


{% endblock %}


