{% extends "_base.html" %}
{% load flatpages %}
{% load i18n %}

{% block content %}

<div class="pc-intro">
  <div class="wrapper">

    <div class="intro">
      <h2> {% trans "Visualiza tu trabajo al llegar a casa." %}</h2>
      <p> {% trans "Obtén informes de tus trabajos automáticamente al llegar a casa." %}</p>
      <p> {% trans "Y lo mejor, viene <strong>incluido con tu Agroguía</strong>" %}</p>
      <a href="/es/pc/recibe-informes" class="big-button"
          onclick="_gaq.push(['_trackEvent', 'home-pc', 'call-to-action', '']);"
        >
        <span class="call-to-action"> {% trans "Saber más" %}</span>
      </a>
    </div>

    <img class="pc-frame" src="assets/images/intros/pc-frame.png">
    <img class="gps-frame" src="assets/images/intros/gps-small-frame.png">
  </div>
</div>

<section class="main-section">
  <div class="wrapper">
    <div class="features">
      <div class="item">
        <a href="/es/pc/recibe-informes"><img src="assets/images/content/features/email-reports.png"></a>
        <h3><a href="/es/pc/recibe-informes"> {% trans "Recibe tus informes por email" %}</a></h3>
        <p> {% trans "Olvídate de descargar tus trabajos manualmente. Los informes llegarán a tu correo electrónico al final del día." %}</p>
      </div>
      <div class="item">
        <a href="/es/pc/visualizar-informes"><img src="assets/images/content/features/work-views.png"></a>
        <h3><a href="/es/pc/visualizar-informes"> {% trans "Visualiza tus trabajos en el ordenador" %}</a></h3>
        <p> {% trans "Podrás ver el trayecto realizado, el tiempo invertido, el área tratada, las distancias medidas, etc..." %}</p>
      </div>
      <div class="item">
        <a href="/es/pc/historico"><img src="assets/images/content/features/work-history.png"></a>
        <h3><a href="/es/pc/historico"> {% trans "Guarda un histórico de trabajos" %}</a></h3>
        <p> {% trans "Podrás acceder a tus trabajos desde cualquier parte y en cualquier momento. No volverás a perder un informe." %}</p>
      </div>
    </div>

    {% include "_testimonials.html" %}

    <div class="compare-packs">
      <h2> {% trans "Qué incluye y cómo funciona" %}</h2>

      <div class="intro">
        <p> {% trans "Con tu kit Agroguía recibirás una suscripción ilimitada a la versión básica del servicio de trabajos on-line." %}</p>

        <p> {% trans "Existen otros paquetes más avanzados que te darán más funcionalidad, y que seguro, te facilitarán el trabajo." %}</p>

        <p> {% trans "Si tienes alguna pregunta o necesitas más información, no dudes en contactar con nosotros." %}</p>
      </div>
      <div class="pack">
        <ul>
          <li>
            <strong> {% trans "PAQUETE BÁSICO" %}</strong>
            <!--<a href="">ver ejemplo</a>-->
          </li>
          <li><span class="included"> {% trans "Informes por email" %}</span></li>
          <li><span class="included"> {% trans "Análisis de área remontada" %}</span></li>
          <li> {% trans "Historial de trabajos" %}</li>
          <li> {% trans "Generación de facturas" %}</li>
          <li>
            <strong> {% trans "0€/AÑO" %}</strong>
            <em> {% trans "Incluido con Agroguía" %}</em>
          </li>
        </ul>
      </div>
      <div class="pack">
        <ul>
          <li>
            <strong> {% trans "PAQUETE AVANZADO" %}</strong>
            <!--<a href="">ver ejemplo</a>-->
          </li>
          <li><span class="included"> {% trans "Informes por email" %}</span></li>
          <li><span class="included"> {% trans "Análisis de área remontada" %}</span></li>
          <li><span class="included"> {% trans "Historial de trabajos" %}</span></li>
          <li><span class="included"> {% trans "Generación de facturas" %}</span></li>
          <li>
            <strong> {% trans "PREGÚNTANOS" %}</strong>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>



{% include "_call_us.html" %}


{% endblock %}

