{% extends "_base.html" %}
{% load flatpages %}


{% block content %}
 

<div class="gps-intro">
  <div class="wrapper">

    <div class="intro">
      <h2>Guiado GPS agrícola</h2>
      <p>La herramienta más <strong>simple</strong> para tratamientos fitosanitarios y abonos.</p>

      <a href="#" class="big-price-button">
        <span class="price-and-tax">
          <span class="price">999<sup>€</sup></span>
          <span class="taxes">IVA NO INCLUIDO</span>
        </span>

        <span class="call-to-action">Saber más</span>
      </a>

      <div class="video">
        <a href="#"><img src="assets/images/intros/video-thumb-small.png"></a>
        <span>No te quedes con dudas. Mira el video explicativo</span>
      </div>
    </div>


    <img class="gps-frame" src="assets/images/intros/gps-big-frame.png">
  </div>
</div>

<section class="main-section">
  <div class="wrapper">

    <div class="features">

      <div class="item">

        <a href="/es/tiempo-dinero"><img src="assets/images/content/features/save-time-and-money.png"></a>
        <h3><a href="/es/tiempo-dinero">Ahorra tiempo y dinero</a></h3>
        <p>Olvídate de la espuma y de malgastar tu tiempo. Agroguía está diseñado para el trabajo con elevados anchos de trabajo.</p>

      </div>
      <div class="item">

        <a href="/es/gps-agricola-sencillo-usar"><img src="assets/images/content/features/easy-to-use.png"></a>
        <h3><a href="/es/gps-agricola-sencillo-usar">Sencillo de usar</a></h3>
        <p>Configura el ancho del apero y pulsa empezar. A partir de ese momento Agroguía estará funcionando.</p>

      </div>
      <div class="item">

        <a href="/es/guiado-agricultura-simple"><img src="assets/images/content/features/easy-to-install.png"></a>
        <h3><a href="/es/guiado-agricultura-simple">Fácil instalación</a></h3>
        <p>Basta con colocar un soporte en el cristal delantero, situar el GPS en el techo de la cabina y conectar la toma de corriente a la tableta.</p>

      </div>
    </div>

    <div class="testimonials">
      <div class="item">

        <img src="assets/images/content/testimonials/1.jpg">
        <cite>“Ya no puedo trabajar sin él.”</cite>
        <p>&mdash; Marcos, Vega de los arboles &mdash;</p>

      </div>
      <div class="item">

        <img src="assets/images/content/testimonials/2.jpg">
        <cite>“Desde que lo uso tengo gano un montón de tiempo</cite>
        <p>&mdash; Carlos, Alaejos &mdash;</p>

      </div>
      <div class="item">

        <img src="assets/images/content/testimonials/3.jpg">
        <cite>“Sencillo y práctico, para qué mas”</cite>
        <p>&mdash; Tomás, Villanueva &mdash;</p>

      </div>
    </div>

    <div class="whats-included">

      <div class="left-block">
        <h2>Qué contiene el kit Agroguía</h2>
        <ul>
          <li>Antena GPS.</li>
          <li>Dispositivo táctil con pantalla anti-reflejo.</li>
          <li>Soporte de seguridad para cristal delantero.</li>
          <li>Cable de alimentación</li>
        </ul>
        <p>Tu kit llegará en 24-48h tras realizar tu pedido, y tras instalarlo (te llevará un máximo de 20 minutos), podrás empezar a trabajar con él.</p>

        <p class="shopping">
          <a href="buy.html" class="button">Comprar ahora</a>
          <span class="price">
            <strong>999<sup>€</sup></strong> IVA NO INCLUIDO
          </span>
        </p>

      </div>

      <div class="right-block">
        <img src="assets/images/content/whats-included/gps.jpg">
      </div>

    </div>

  </div>
</section>



{% include "_call_us.html" %}


{% endblock %}

