{% extends "_base.html" %}
{% load flatpages %}

{% block content %}

<div class="pc-intro">
  <div class="wrapper">

    <div class="intro">
      <h2>Visualiza tu trabajo al llegar a casa.</h2>
      <p>Obtén informes de tus trabajos automáticamente al llegar a casa.</p>
      <p>Y lo mejor, viene <strong>incluido con tu Agroguía.</strong></p>
      <a href="#" class="big-button">
        <span class="call-to-action">Saber más</span>
      </a>
    </div>

    <img class="pc-frame" src="assets/images/intros/pc-frame.png">
    <img class="gps-frame" src="assets/images/intros/gps-small-frame.png">
  </div>
</div>

<section class="main-section">
  <div class="wrapper">
    <div class="features">
      <div class="item">
        <a href="#"><img src="assets/images/content/features/email-reports.png"></a>
        <h3><a href="/es/pc/recibe-informes">Recibe tus informes por email</a></h3>
        <p>Olvídate de descargar tus trabajos manualmente. Los informes llegarán a tu correo electrónico al final del día.</p>
      </div>
      <div class="item">
        <a href="#"><img src="assets/images/content/features/work-views.png"></a>
        <h3><a href="/es/pc/visualizar-informes">Visualiza tus trabajos en el ordenador</a></h3>
        <p>Podrás ver el trayecto realizado, el tiempo invertido, el área tratada, las distancias medidas, etc...</p>
      </div>
      <div class="item">
        <a href="#"><img src="assets/images/content/features/work-history.png"></a>
        <h3><a href="#">Guarda un histórico de trabajos</a></h3>
        <p>Podrás acceder a tus trabajos desde cualquier parte y en cualquier momento. No volverás a perder un informe.</p>
      </div>
    </div>
    <div class="testimonials">
      <div class="item">
        <img src="assets/images/content/testimonials/1.jpg">
        <cite>“Ya no puedo trabajar sin él.”</cite>
        <p>&mdash; Marcos, Vega de los Árboles &mdash;</p>
      </div>
      <div class="item">
        <img src="assets/images/content/testimonials/2.jpg">
        <cite>“Desde que lo uso, gano un montón de tiempo”</cite>
        <p>&mdash; Carlos, Alaejos &mdash;</p>
      </div>
      <div class="item">
        <img src="assets/images/content/testimonials/3.jpg">
        <cite>“Sencillo y práctico, para qué más”</cite>
        <p>&mdash; Tomás, Villanueva &mdash;</p>
      </div>
    </div>
    <div class="compare-packs">
      <h2>Qué incluye y cómo funciona</h2>

      <div class="intro">
        <p>Con tu kit Agroguía recibirás una suscripción ilimitada a la versión básica del servicio de trabajos on-line.</p>

        <p>Existen otros paquetes más avanzados que te darán más funcionalidad, y que seguro, te facilitarán el trabajo.</p>

        <p>Si tienes alguna pregunta o necesitas más información, no dudes en contactar con nosotros.</p>
      </div>
      <div class="pack">
        <ul>
          <li>
            <strong>PAQUETE BÁSICO</strong>
            <a href="">ver ejemplo</a>
          </li>
          <li><span class="included">Informes por email</span></li>
          <li><span class="included">Análisis de área remontada</span></li>
          <li>Historial de trabajos</li>
          <li>Generación de facturas</li>
          <li>
            <strong>0€/AÑO</strong>
            <em>Incluido con Agroguia</em>
          </li>
        </ul>
      </div>
      <div class="pack">
        <ul>
          <li>
            <strong>PAQUETE AVANZADO</strong>
            <a href="">ver ejemplo</a>
          </li>
          <li><span class="included">Informes por email</span></li>
          <li><span class="included">Análisis de área remontada</span></li>
          <li><span class="included">Historial de trabajos</span></li>
          <li><span class="included">Generación de facturas</span></li>
          <li>
            <strong>PREGÚNTANOS</strong>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>



{% include "_call_us.html" %}


{% endblock %}

