{% extends "_base.html" %}
{% load i18n %}
{% load flatpages %}
{% load cache %}


{% block content %}
 

<div class="gps-intro">
  <div class="wrapper">

    <div class="intro">
      <h2>{% trans "Guiado GPS agrícola" %}</h2>
      <p> {% trans "La herramienta más <strong>simple</strong> para tratamientos fitosanitarios y abonos." %}</p>

      <a href="{% url home-buy %}"
        onclick="_gaq.push(['_trackEvent', 'call-to-action', '', '']);"
        class="big-price-button">
        <!--<span class="price-and-tax">
          <span class="price">1.250<sup>€</sup></span>
          <span class="taxes">+ IVA</span>
        </span>
        -->

        <span class="call-to-action"> {% trans "Saber más" %}</span>
      </a>

      <div class="video">
        <a href="/es/gps-agricola-sencillo-usar"
          onclick="_gaq.push(['_trackEvent', 'video-home', '', '']);"
        ><img src="assets/images/intros/video-thumb-small.png"></a>
        <span> {% trans "No te quedes con dudas. Mira el video explicativo" %}</span>
      </div>
    </div>


    <img class="gps-frame" src="assets/images/intros/gps-big-frame.png">
  </div>
</div>

<section class="main-section">
  <div class="wrapper">

    <div class="features">

      <div class="item">

        <a href="/es/tiempo-dinero"><img src="assets/images/content/features/save-time-and-money.png"></a>
        <h3><a 
          onclick="_gaq.push(['_trackEvent', 'features', 'money', '']);"
            
            href="/es/tiempo-dinero"> {% trans "Ahorra tiempo y dinero" %}</a></h3>
        <p> {% trans "Olvídate de la espuma y de malgastar tu tiempo. Agroguía está diseñado para el trabajo con elevados anchos de trabajo." %}</p>

      </div>
      <div class="item">

        <a href="/es/gps-agricola-sencillo-usar"
          onclick="_gaq.push(['_trackEvent', 'features', 'easy', '']);"
          
          ><img src="assets/images/content/features/easy-to-use.png"></a>
        <h3><a href="/es/gps-agricola-sencillo-usar"> {% trans "Sencillo de usar" %}</a></h3>
        <p> {% trans "Configura el ancho del apero y pulsa empezar. A partir de ese momento Agroguía estará funcionando." %}</p>

      </div>
      <div class="item">

        <a href="/es/guiado-agricultura-simple"
          onclick="_gaq.push(['_trackEvent', 'features', 'easy', '']);"
          
          ><img src="assets/images/content/features/easy-to-install.png"></a>
        <h3><a href="/es/guiado-agricultura-simple"> {% trans "Fácil instalación" %}</a></h3>
        <p> {% trans "Basta con colocar un soporte en el cristal delantero, situar el GPS en el techo de la cabina y conectar la toma de corriente a la tableta." %}</p>

      </div>
    </div>

    {% include "_testimonials.html" %}

    <div class="whats-included">

      <div class="left-block">
        <h2> {% trans "Qué contiene el kit Agroguía" %}</h2>
        <ul>
          <li> {% trans "Antena GPS." %}</li>
          <li> {% trans "Dispositivo táctil con pantalla anti-reflejo." %}</li>
          <li> {% trans "Soporte de seguridad para cristal delantero." %}</li>
          <li> {% trans "Cable de alimentación" %}</li>
        </ul>
        <p> {% trans "Tu kit llegará en 24-48h tras realizar tu pedido, y tras instalarlo (te llevará un máximo de 20 minutos), podrás empezar a trabajar con él." %}</p>

        <p class="shopping">
          <a href="{% url home-buy %}" class="button"
            onclick="_gaq.push(['_trackEvent', 'buy-down', '', '']);"
            > {% trans "Recibir información" %}</a>
          <!--<span class="price">
            <strong>1.250<sup>€</sup></strong> + IVA
          </span>
          -->
        </p>

      </div>

      <div class="right-block">
        <img src="assets/images/content/whats-included/gps.jpg">
      </div>

    </div>

  </div>
</section>



{% include "_call_us.html" %}

<div class="wrapper">
{% cache 86400 blog_posts %}
{% include "_blog.html" %}
{% endcache %}
</div>

{% endblock %}


{% block bottom %}
<script type="text/javascript">
</script>
{% endblock %}
